.Row {
    height: calc(100vh - 81px);
  }
  .Input {
    background: #ffffff;
    border: 3px solid black;
    box-sizing: border-box;
    border-radius: 2px;
    color: #001eff;
    text-align: center;
    padding: 10px;
    font-weight: 700;
  }
  
  .Header {
    font-style: normal;
    font-weight: bold;
    font-size: large;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1em;
    color: black;
  }
  
  .Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
    font-size: x-large;
    text-decoration: underline;
  }
  
  .Link span {
    color: #ff9254;
  }
  
  .Container {
    padding: 30px 10px;
  }
  
  .SignInCol {
    height: 320px;
  }
  
  .SignUpCol {
    height: 375px;
  }